In [1]:
symbols = '$¢£¥€¤'
codes = []
for symbol in symbols:
    codes.append(ord(symbol))
codes

[36, 162, 163, 165, 8364, 164]

In [2]:
symbols = '$¢£¥€¤'
codes = [ord(symbol) for symbol in symbols]
codes

[36, 162, 163, 165, 8364, 164]

In [4]:
#笛卡尔积 列表推导
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
tshirts

[('black', 'S'),
 ('black', 'M'),
 ('black', 'L'),
 ('white', 'S'),
 ('white', 'M'),
 ('white', 'L')]

In [5]:
#生成器
symbols = '$¢£¥€¤'
tuple(ord(symbol) for symbol in symbols)

(36, 162, 163, 165, 8364, 164)

In [6]:
import array
array.array('I',(ord(symbol) for symbol in symbols))

array('I', [36, 162, 163, 165, 8364, 164])

In [7]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirt in ('%s,%s' % (c,s) for c in colors for s in sizes):
    print(tshirt)

black,S
black,M
black,L
white,S
white,M
white,L

In [8]:
#元组作为记录
lax_coordiinates = (33.9425, -118.408056)

In [9]:
a, b, *rest = range(5)
print(a, b, rest)

0 1 [2, 3, 4]

In [11]:
#嵌套元组拆包
metro_areas = [
('Tokyo','JP',36.933,(35.689722,139.691667)), 
('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)), 
('Mexico City', 'MX', 20.142, (19.433333, -99.133333)), 
('New York-Newark', 'US', 20.104, (40.808611, -74.020386)), 
('Sao Paulo', 'BR', 19.649, (-23.547778, -46.635833)),
]
print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.')) 
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333
New York-Newark |   40.8086 |  -74.0204
Sao Paulo       |  -23.5478 |  -46.6358

In [12]:
#具名元组
from collections import namedtuple
City = namedtuple('City','name country population coordinates')
tokyo = City('Tokyo', 'JP', '36.933', (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population='36.933', coordinates=(35.689722, 139.691667))

In [13]:
tokyo.population

'36.933'

In [14]:
tokyo[0]

'Tokyo'

In [15]:
#具名元组常用属性
City._fields

('name', 'country', 'population', 'coordinates')

In [16]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi

City(name='Delhi NCR', country='IN', population=21.935, coordinates=LatLong(lat=28.613889, long=77.208889))

In [18]:
delhi._asdict()

OrderedDict([('name', 'Delhi NCR'),
             ('country', 'IN'),
             ('population', 21.935),
             ('coordinates', LatLong(lat=28.613889, long=77.208889))])

In [19]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

In [20]:
s = 'bicycle'
s[::3]

'bye'

In [21]:
s[::-1]

'elcycib'

In [22]:
s[::-2]

'eccb'

In [23]:
l = list(range(10))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
l[2:5] = [20,30]
l

[0, 1, 20, 30, 6, 7, 8, 9]

In [26]:
del l[5:7]
l

[0, 1, 20, 30, 6, 9]

In [31]:
l[3::1] = [11,22]
l

[0, 1, 100, 11, 22]

In [32]:
l[2:5] = [100]
l

[0, 1, 100]